<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="javascript:void(0);">Filmes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:void(0);">
            Filmes
          </a>
          <a class="dropdown-item" href="javascript:void(0);">
            Amigos
          </a>
          <a class="dropdown-item" href="javascript:void(0);">
            Minhas Indicações
          </a>
        </div>
      </li>
    </ul>

    <div class="navbar-text">
      <div class="dropdown dropleft">
        <span class="dropdown-toggle click" id="ddlUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i>
          Olá, Fulano
        </span>
        <div class="dropdown-menu" aria-labelledby="ddlUsuario">
          <button class="dropdown-item click" type="button">
            <i class="fa fa-pencil fa-fw"></i>
            &nbsp;Perfil
          </button>
          <button class="dropdown-item click" type="button">
            <i class="fa fa-sign-out fa-fw"></i>
            &nbsp;Sair
          </button>
        </div>
      </div>
    </div>

  </div>
</nav>


<div class="content-wrapper">
  <div class="container-fluid" style="padding-top: 10px;">

    <router-outlet></router-outlet>    

  </div>
</div>