<div class="row">
    <div class="col-md-3" *ngFor="let filme of filmes">
        <div class="lista">
            <img class="image" src="{{ filme.poster }}" alt="{{ filme.poster }}">
            <div class="overlay" (click)="buscarUmFilme(filme.imdbid)">
                <h5 class="title">{{ filme.titulo }}</h5>
                <br/>                
                <p class="text"><small class="text-muted">{{ filme.ano }} {{ filme.type }}</small></p>
            </div>
        </div>
    </div>
</div>
